<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <link   
        type="text/javascript"
        href="{{ url_for('static', filename='js/my_script.js') }}"
    >

</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <!-- outter loop creates determines how many rows we create -->
        <!-- inner loop creates one line 1x8 black-red pattern -->
        <!-- inner loop creates one line 1x8 black-red pattern -->
        <div class="box-container">
            {% for i in range(y) %}
            <div class="box-patter">
                {% for i in range(x) %}
                <div class="box-red" style="background-color:{{color1}}"></div>
                <div class="box-black" style="background-color:{{color2}}"></div>
                {% endfor %}
            </div>
            <div class="box-patter">
                {% for i in range(x) %}
                <div class="box-black" style="background-color:{{color2}}"></div>
                <div class="box-red" style="background-color:{{color1}}"></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>