<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painting Edit - Red Belt</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>
    <div class="container">
        <div class="box-user-info">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="box-banner">
                <a href="/paintings/new">Add Painting</a>
                <a href="/paintings">Dashboard</a>
                <form action="/logout" method="post">
                <input type="submit"value="Logout">
                </form>
            </div>
            <div class="box">
                <div class="box">
                    <h2>Edit a Painting</h2>
                </div>
            <form action="/paintings/update/{{painting_list.id}}" method="post">
                <div class="box">
                    <label>Name: </label>
                    <input type="text" name="title" value="{{painting_list.title}}">
                </div>
                <div class="box">
                    <label>Description: </label>
                    <input type="text" name="description" value="{{painting_list.description}}">
                </div>
                <div class="box">
                    <label>Instructions: </label>
                    <input type="text" name="price" value="{{painting_list.price}}">
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</body>
</html>