<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Painting - Red Belt</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>

    <div class="container">
        <div class="box-user-info">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="box-banner">
                <a href="/paintings">Dashboard</a>
                <form action="/logout">
                <input type="submit"value="Logout">
                </form>
            </div>
            <div>
                <h2>Add a Painting</h2>
            </div>
            <div class="box">
            <form action="/paintings/register" method="post">
                <div class="box">
                    <label>Title: </label>
                    <input type="text" name="title">
                </div>
                <div class="box">
                    <label>Description: </label>
                    <input type="text" name="description">
                </div>
                <div class="box">
                    <label>Price: </label>
                    <input type="text" name="price">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>