<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Red Belt</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>
    <div class="container">
        <div class="box-user-info">
            <div class="box-banner">
                <h1>Welcome {{user.first_name}}!!!</h1>
                <a href="/paintings/new">Add Painting</a>
                <form action="/logout">
                <input type="submit"value="Logout">
                </form>
            </div>
            <h2>Paintings</h2>
            <div class="box">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for painting in all_paintings %}
                        <tr>                            
                            <td><a href="/paintings/{{painting.id}}">{{painting.title}}</a></td>
                            <td>by {{painting.creator.first_name}} {{painting.creator.last_name}}</td>
                            {% if painting.creator.id == user.id %}
                            <td><a href="/paintings/{{painting.id}}/edit">Edit</a> | <a href="/paintings/delete/{{painting.id}}">Delete</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>