<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painting Show - Red Belt</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>
    <div class="container">
        <div class="box-user-info">
            <div class="box-banner">
                <a href="/paintings">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
            <div class="box">
                <h2>{{painting_list.title}}</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Painted by</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{painting_list.creator.first_name}} {{painting_list.creator.last_name}}</td>       
                        <td>{{painting_list.description}}</td>   
                        <td>{{painting_list.price}}</td>                     
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</body>
</html>