
/**************************** GENERAL CSS ****************************/

* {
    margin:0px;
    padding:0px;
    border: 0px;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
}

a {
    color: #333333;
}

input {
    height: 25px;
    width: 40%;
}

#container {
    margin: auto;
    max-width: 1440px;
    min-width: 1024px;
}

.main-box{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.col-3 {
    width: 60%;
}

.col-2 {
    width: 30%;
}

/****************************box1 CSS****************************/

.btn {
    background-color: #17a2b8;
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 3px 3px black;
    color: #333333;
    width: 125px;
    height:40px;
}

button.btn:hover{
    background: #333333;
    color: #17a2b8;
    transition: all .8s ease-out;
    cursor: pointer;
}

.box1 {
    border: 4px solid #333333;
    background: white;
    height: 180px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.box1-header {
    height: 50%;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
}

.box1-like{
    width: 45%;
}

.box1-content {
    height: 50%;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
}

/***************** FLEX CSS ****************************/

.flex {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-around {
    align-content: space-around;
}

.align-evenly {
    align-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content:space-around
}