<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>
<body>
    <form action="/user/update/{{get_single_user.id}}" method="post">
    <div class="container">
        <div class="box-user-info">
            <div class="box-banner">
                <h1>Edit User (Add User ID Here)</h1>
                <a href="/">Home</a>
            </div>
            <div class="box">
                <label>First Name: </label>
                <!-- Add functionality to placeholder to take value of current user -->
                <input type="text" name="first_name" value="{{get_single_user.first_name}}">
            </div>
            <div class="box">
                <label>Last Name: </label>
                <!-- Add functionality to placeholder to take value of current user -->
                <input type="text" name="last_name" value={{get_single_user.last_name}}>
            </div>
            <div class="box">
                <label>Email: </label>
                <!-- Add functionality to placeholder to take value of current user -->
                <input type="text" name="email" value={{get_single_user.email}}>
            </div>
            <div>
                <input type="submit" value="Update">
                <a href="/user/show/{{get_single_user.id}}">Show User</a>
            </div>
        </div>
    </div>
    </form>
</body>
</html>