* {
    margin:0px;
    padding:0px;
}
h1{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color: yellow;
}
button{
    width: 70px;
    height: 30px;
    background-color: yellow;
}

.container{
    display: flex;
    justify-content: center;
}

.box-survey {
    background-color: #33393e;
    color: white;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    width: 300px;
}

.box input{
    width: 150px;
}

.box select{
    width: 154px;
}

.comment textarea{
    height: 100px;
    width: 300px;
}