<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Together</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>

    <div class="container">
        <div class="box-user-info">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="box-banner">
                <h1>Rock On {{user.first_name}}</h1>
                <a href="/mybands">My Bands</a>
                <a href="/dashboard">Dashboard</a>
                <form action="/logout" method="post">
                <input type="submit"value="Logout">
                </form>
            </div>
            <div class="box">
                <div class="box">
                    <h2>Edit {{one_band.band_name}}</h2>
                </div>
            <!-- Update action must validate before going to dashboard -->
            <!-- add prexisting value to these fields -->
            <form action="/dashboard" method="post">
                <div class="box">
                    <label>Name: </label>
                    <input type="text" name="band_name" value="{{one_band.band_name}}">
                </div>
                <div class="box">
                    <label>Description: </label>
                    <input type="text" name="genre" value="{{one_band.genre}}">
                </div>
                <div class="box">
                    <label>Instructions: </label>
                    <input type="text" name="homecity" value="{{one_band.homecity}}">
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</body>
</html>