<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
    <link type="text/javascript" href="{{ url_for('static', filename='js/my_script.js') }}">

</head>
<body>
    <form action="/result" method="post">

    <div class="container">
        <h1>Dojo Survery</h1>
        <div class="box">
            <label>Name: </label>
            <input type="text" name="first_name" placeholder="John">
        </div>
        <div class="box">
            <label for="Language">Dojo Location: </label>
            <select name="Language">
                <option>Bellevue, WA</option>
                <option>Boise, ID</option>
                <option>Chicago, IL</option>
                <option>Los Angeles, CA</option>
                <option>Silicon Valley, CA</option>
            </select>
        </div>

        <div class="box">
            <label for="Language">Favorite Language: </label>
            <select name="Language">
                <option>Ada</option>
                <option>Fortran</option>
                <option>Pascal</option>
                <option>Java</option>
            </select>
        </div>
        <div class="box">
            <label for="Language">Comments: </label>
            <input type="text">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </div>
    </form>

</body>
</html>